<!-- <div class="row d-flex justify-content-center">
  <h1 class="">{{ this.clock }}</h1>
</div> -->

<div class="container mt-4">
  <div class="alert alert-info" role="alert" *ngIf="this.countValue">
    {{ this.count }}° tempo finalizado!
  </div>
</div>

<!--  -->

<div class="container" fxLayoutAlign="center center">
  <mat-card class="card-time">
    <!-- <mat-progress-bar mode="determinate" [value]="this.timeMinutes"></mat-progress-bar> -->

    <h4 class="contagem">
      <span>Contagem: </span>
      <span>{{ this.count }}</span>
    </h4>

    <div class="row d-flex justify-content-center">
      <h1 class="timer-pomodoro">
        <span *ngIf="this.timeMinutes === 0">00</span>
        <span *ngIf="this.timeMinutes != 0">{{ this.timeMinutes }}</span>
        <span>:</span>
        <span *ngIf="zeroSegundos">00</span>
        <span *ngIf="!zeroSegundos">{{ this.timeSeconds }}</span>
      </h1>
    </div>

    <div class="row d-flex justify-content-center">
    <button mat-button class="btn-pause-stop" [disabled]="!this.disabled" (click)="this.stopTimer()">
      <mat-icon aria-hidden="false">stop</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="this.iniciarTarefa()">
      <mat-icon aria-hidden="false">play_arrow</mat-icon>
    </button>
    <button mat-button class="btn-pause-stop" (click)="this.pauseTimer()">
      <mat-icon aria-hidden="false">pause</mat-icon>
    </button>
  </div>
  </mat-card>

</div>
